
  <div class="panel panel-primary">

  <div class="panel-heading">
  <h3 class="panel-title"><%= @article.title %></h3>
  <div class="row">
        <h5 class="accordion-panel-title"> 来源：<%= @article.arthor%> </h5>
        <h5 class="accordion-panel-title">星级：<%=@article.rate %></h5>
  </div>
  </div>

  <div class="panel-body ">
    <%= sanitize @article.body,  attributes: %w(id class style height width alti href src) %>
    <%#  @article.body %>
  </div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              articles_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_article_path(@article), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              article_path(@article),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
</div>
